[Unit]
Description=AKA Python Youtube-taut tornado server service

[Service]
Type=simple
WorkingDirectory=/var/www/youtube-taut/server/
ExecStart=/usr/bin/python server.py
KillMode=process
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target